
.project {
    text-align: center;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.2;
    font-size: 17px;
    font-weight: 400;
    color: #222;
    background: #f2f2f2;
    font-family: "roboto", sans-serif;
    text-align: justify;
}
img.banner{
   display: flex;

    margin-left: auto;
    margin-right: auto;
width: 100% ;


}
.toolbar{

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.logozeile{
    background: #37474d;
}


nav.navi{
    display:flex;
    justify-content:space-around;
    background: white;
    width: auto;
    margin: 0 auto;
    box-shadow: 5px 5px;
    padding: 0.3%;
    -webkit-box-shadow: 0 3px 9px 0 rgba(0,0,0,0.35);
}
.beispielbutton, .theoriebutton, .simulationbutton, .Logo{
    display: inline-block;
    margin: .4em .2em;
    padding: .3em 1em;
    border: .2em solid #37474d;
    border-radius: .2em;
    font-size: 1.1em;
    letter-spacing: .05em;
}
.platzhalter{
    margin-top: 120px;

}

a:link, :visited {
    color: gray;
    text-decoration: none;

}

a:hover{

    color: #5e5e5e;

    text-decoration: none;
}


img.Titel{
    display: block;
    margin-top: 24px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

    img.beispiel{
        display: block;
        margin-top: 24px;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

div.mittelpart {
    background: white;
    width: 50%;
    margin: 0 auto;
    margin-top: 120px;
    padding: 1.5% 1%;
    box-shadow: 5px 5px;
    -webkit-box-shadow: 0 3px 9px 0 rgba(0,0,0,0.35);

}
.logo {
     text-align: right;
 }
    h1, h2 {

    }

h1{
    background: #6E8898;
    color: white;
    text-align: center;
    padding: 1%;
}

h2{

}

h3{

}

h4{

}
ul {
    list-style: none;
}

span.beispielzeile,.theoriezeile,.simulationzeiel{

    padding-left: 24px;
    padding-right: 24px;

}
.navi{

    color: #222222;
    text-align: center;
    padding: 1%;
}

#section_Beispiel,#section_Simulation,#section_Theorie{
    scroll-margin-top: 140px;
}


.ct-inner-content, .oxy-stock-content-styles p, .oxy-stock-content-styles ul, .oxy-stock-content-styles ol, .oxy-stock-content-styles h2, .oxy-stock-content-styles h3 {
    overflow-x: hidden;
}
.oxy-stock-content-styles p {
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p, .oxy-rich-text p:last-child {
    margin: 0 0 24px;
}
h1, h2, p {
    margin: 0 0 24px;
}
*, ::after, ::before {
    box-sizing: inherit;
}
*, ::after, ::before {
    box-sizing: inherit;
}
.wp-block-code code.hljs:not(.shcb-wrap-lines) {
    white-space: pre;
}
pre.wp-block-code code {
    font-family: Hack,"Fira Code",Consolas,Menlo,Monaco,"Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L","Courier New",Courier,monospace;
    line-height: 1.5;
    padding: 1em 0 1em 1em;
}
.wp-block-code code {
    display: block;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
.hljs {
    display: block;
    overflow-x: auto;
    background: #2b2b2b;
    color: #f8f8f2;
    padding: .5em;
}
code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}


::selection {
    background: #b3d4fc;
    text-shadow: none;
}
section#range {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 70%;
    background-color: greenyellow;
}
div.bar {
    flex: 1 1 10%;
    background-color: green;
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
div.bar_hlgt {
    border: 2px solid green;
    background-color: greenyellow;
}
div.bar_high {
    background-color: red;
}
div.bar_low {
    background-color: yellow;
}

.footer-basic {
    padding:40px 0;

    color: #939393;
}

#array {
    background-color: white;
    height: 305px;
    width: 598px;
    margin: auto;
    position: relative;
    margin-top: 64px;
}

.block {
    width: 28px;
    background-color: #6b5b95;
    position: absolute;
    bottom: 0px;
    transition: 0.2s all ease;
}

.block_id {
    position: absolute;
    color: black;
    margin-top: -20px;
    width: 100%;
    text-align: center;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}

.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ffffff;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}

.footer-basic .social > a:hover {
    opacity:0.9;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color: #8a8a8a;
    margin-bottom:0;
}